.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    align-items: center;
    background-color: $color-background;
    gap: 32px;

    &__form {
        padding: 32px;
        width: 870px;
        box-sizing: border-box;
        box-shadow: $shadow-form;
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 30px;
        border-radius: $radius-l;
        background-color: $color-light;
    }

    &__wrapper {
        display: flex;
        // flex-direction: column;
        gap: 16px;
    }
}
