.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    &__label {
        @include text("Roboto", normal, 500, 14px, 16px, $color-dark);
    }

    &__input {
        width: 300px;
        border: $border-input-default;
        border-radius: 8px;
        padding: 12px;
        @include text("Roboto", normal, 400, 12px, 14px, $color-dark);

        &:hover {
            border: $border-input-hover;
            transition: border 0.2s ease-out;
        }

        &:active {
            border: $border-input-active;
            transition: border 0.2s ease-out;
        }
    }

    &__error {
        position: absolute;
        left: 0;
        bottom: -18px;
        @include text("Roboto", normal, 400, 12px, 14px, $color-error);
    }
}
