.button {
    background: $color-primary;
    box-shadow: $shadow-button;
    border-radius: $radius-m;
    width: 100%;
    border: none;
    padding: 11px 28px;
    @include text("Roboto", normal, 700, 16px, 19px, $color-light);

    &:hover {
        cursor: pointer;
        opacity: 0.9;
        transition: opacity 0.2s ease-out;
    }
    &:active {
        opacity: 0.7;
        transition: opacity 0.2s ease-out;
    }
}
