$color-background: #ecf0ff;
$color-primary: #646aff;
$color-primary-hover: #adb0ff;
$color-dark: #1d1d1d;
$color-gray: #b3b3b3;
$color-light: #fff;

$shadow-form: 0px 4px 40px rgba(0, 0, 0, 0.15);
$shadow-button: 0px 3px 18px 4px rgba(100, 106, 255, 0.6);

$radius-l: 16px;
$radius-m: 8px;

$border-input-default: 1px solid $color-gray;
$border-input-active: 1px solid $color-gray;
$border-input-hover: 1px solid $color-primary-hover;
